flows1.json
[{"id":"2eb5666c.bebaaa","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f266b7b4.43f8e8","type":"inject","z":"2eb5666c.bebaaa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":91,"y":33.00000190734863,"wires":[["d59d01b.32a01"]]},{"id":"d59d01b.32a01","type":"function","z":"2eb5666c.bebaaa","name":"Random number Generator","func":"var age  =parseInt(Math.random()*(65-18)+18)\nvar beat =parseInt(Math.random()*(80-50)+50)\nvar sys = parseInt(Math.random()*(130-90)+90)\nvar dia = parseInt(Math.random()*(90-70)+70)\nvar sl =  parseInt(Math.random()*(240-80)+80)\n \nglobal.set(\"age\",age)\nglobal.set(\"beat\",beat)\nglobal.set(\"sys\",sys)\nglobal.set(\"dia\",dia)\nglobal.set(\"sl\",sl)\n\nreturn msg","outputs":1,"noerr":0,"x":165.5,"y":79.00000381469727,"wires":[["1839aaec.412cb5","1ddbfb64.252d05","5f6f7564.0697fc","76fd90a6.e9a91","fcb79dbc.6609e","1b70bb19.5b8ec5"]]},{"id":"1839aaec.412cb5","type":"debug","z":"2eb5666c.bebaaa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":717.3000106811523,"y":30.000001907348633,"wires":[]},{"id":"1ddbfb64.252d05","type":"http request","z":"2eb5666c.bebaaa","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":445.50000381469727,"y":224.00000476837158,"wires":[["4c13d35f.09f2ac","44481707.4ada08"]]},{"id":"4c13d35f.09f2ac","type":"function","z":"2eb5666c.bebaaa","name":"","func":"var token = msg.payload.token \nvar age= global.get(\"age\");\nvar beat= global.get(\"beat\");\nvar sys= global.get(\"sys\");\nvar dia= global.get(\"dia\");\nvar sl= global.get(\"sl\");\nmsg.payload = {'fields':['Age','HeartBeat','Systolic','Diastolic','Sugar'],'values':[[age,beat,sys,dia,sl]]}\nmsg.headers = {'Authorization':'Bearer'+token}\nreturn msg;","outputs":1,"noerr":0,"x":587.4999961853027,"y":350.00000524520874,"wires":[["dd41ca59.a9d558"]]},{"id":"dd41ca59.a9d558","type":"http request","z":"2eb5666c.bebaaa","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/7e0db7eb-7183-48c2-9a41-7ee8aad5b431/deployments/0ab70037-e182-4128-adbf-f613897dc0c3/online","tls":"","proxy":"","authType":"basic","x":739.5000114440918,"y":248.00000190734863,"wires":[["f2a70a58.9d5698","597c7d81.4135c4"]]},{"id":"f2a70a58.9d5698","type":"debug","z":"2eb5666c.bebaaa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970.9000129699707,"y":20,"wires":[]},{"id":"44481707.4ada08","type":"debug","z":"2eb5666c.bebaaa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":632.3000106811523,"y":176.00000381469727,"wires":[]},{"id":"edbf72f9.e8e81","type":"ui_gauge","z":"2eb5666c.bebaaa","name":"","group":"5926f006.b83a9","order":4,"width":0,"height":0,"gtype":"gage","title":"Systolic","label":"units","format":"{{sys}}","min":"90","max":"130","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":239.50000190734863,"y":208.00000381469727,"wires":[]},{"id":"6626e8a7.98d538","type":"ui_gauge","z":"2eb5666c.bebaaa","name":"","group":"5926f006.b83a9","order":6,"width":0,"height":0,"gtype":"gage","title":"Sugar Level","label":"units","format":"{{sl}}","min":"80","max":"240","colors":["#00b500","#e6e600","#ca3838"],"seg1":"180","seg2":"180","x":248.00000381469727,"y":318.0000057220459,"wires":[]},{"id":"9d221739.1243a8","type":"ui_gauge","z":"2eb5666c.bebaaa","name":"","group":"9396daa5.fd2588","order":3,"width":0,"height":0,"gtype":"gage","title":"Diastolic","label":"units","format":"{{dia}}","min":"70","max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"80","seg2":"85","x":238.00000762939453,"y":266.00000190734863,"wires":[]},{"id":"f120fa16.b29ad8","type":"ui_gauge","z":"2eb5666c.bebaaa","name":"","group":"9396daa5.fd2588","order":1,"width":0,"height":0,"gtype":"gage","title":"Heart Beat","label":"units","format":"{{beat}}","min":"50","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"73","x":250.00000381469727,"y":148.00000286102295,"wires":[]},{"id":"597c7d81.4135c4","type":"function","z":"2eb5666c.bebaaa","name":"","func":"msg.payload = msg.payload.values[0][0][0]\nvar predict \nif (msg.payload <=0.5){\n    predict = \"Patient is  good\"\n    msg.payload = predict\n}\nif (msg.payload >0.5){\n    predict = \"Patient is not good\"\n    msg.payload = predict\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":857.5000076293945,"y":343.0000057220459,"wires":[["e68d5c9e.06f85"]]},{"id":"e68d5c9e.06f85","type":"ui_text","z":"2eb5666c.bebaaa","group":"c8cbfa35.676f08","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":826.2999877929688,"y":474,"wires":[]},{"id":"5f6f7564.0697fc","type":"function","z":"2eb5666c.bebaaa","name":"","func":"var beat= global.get(\"beat\");\nmsg.payload = beat\nreturn msg;","outputs":1,"noerr":0,"x":73,"y":146,"wires":[["f120fa16.b29ad8"]]},{"id":"76fd90a6.e9a91","type":"function","z":"2eb5666c.bebaaa","name":"","func":"var sys= global.get(\"sys\");\nmsg.payload = sys\nreturn msg;","outputs":1,"noerr":0,"x":70,"y":209.00000286102295,"wires":[["edbf72f9.e8e81"]]},{"id":"1b70bb19.5b8ec5","type":"function","z":"2eb5666c.bebaaa","name":"","func":"var sl= global.get(\"sl\");\nmsg.payload = sl\nreturn msg;","outputs":1,"noerr":0,"x":89,"y":354,"wires":[["6626e8a7.98d538"]]},{"id":"fcb79dbc.6609e","type":"function","z":"2eb5666c.bebaaa","name":"","func":"var dia= global.get(\"dia\");\nmsg.payload = dia\nreturn msg;","outputs":1,"noerr":0,"x":75,"y":271.00000381469727,"wires":[["9d221739.1243a8"]]},{"id":"5926f006.b83a9","type":"ui_group","z":"","name":"Default","tab":"ff0e1792.38a158","disp":true,"width":"6","collapse":false},{"id":"9396daa5.fd2588","type":"ui_group","z":"","name":"Project","tab":"ff0e1792.38a158","disp":true,"width":"6","collapse":false},{"id":"c8cbfa35.676f08","type":"ui_group","z":"","name":"class","tab":"ff0e1792.38a158","disp":true,"width":"6","collapse":false},{"id":"ff0e1792.38a158","type":"ui_tab","z":"","name":"something","icon":"dashboard","disabled":false,"hidden":false}]